{% extends 'EtiJobeetBundle::layout.html.twig' %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/etijobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
    <div id="jobs">
        {% include 'EtiJobeetBundle:Job:list.html.twig' %}
    </div>
{% endblock %}