{% extends '@EtiJobeet/Company/layout.html.twig' %}

{% block content %}

        <div id="fh5co-services-section"; style="background: linear-gradient(to bottom, rgba(185,228,247,1) 0%,rgba(0,180,231,1) 100%);">

            <div class="container">
            </div>

        </div>

{% endblock %}