<header id="fh5co-header" role="banner" style="background: white">
    <div class="container">
        <div class="header-inner">
            <h1><a href="" name="top">iRecruit</a></h1>
            <nav role="navigation">
                <ul>
                    <li><a href="{{ path('login') }}">LOG IN</a></li>
                    <li class="cta"><a href="#">POST A JOB</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>