<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        {{ form_start(form) }}
            <div class="modal-body" style="color:black">
                {% if isSuccess %}
                <div class="alert alert-success">Your CV was successfully uploaded!</div>
                {% endif %}
                <div class="form-group">
                    <label class="col-md-3 control-label">Curriculum Vitae</label>
                    <div class="col-md-9">
                        {{  form_widget(form.curriculumVitae, {'attr' : {'class' : 'form-control-file'}}) }}
                        {% if form_errors(form.curriculumVitae) %}
                            <div class="alert alert-danger" role="alert">{{ form_errors(form.curriculumVitae) }}</div>
                        {% endif %}
                        <small id="CV" class="form-text text-muted">Max size: 2Mb.</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-upload-js" style="background:green"><span class="glyphicon glyphicon-ok"></span> Upload</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>




